body {
    font-family: 'Lato', sans-serif;
} 


/* Navbar Styles */
nav ul a {
    color: #111111;
    font-weight: 600;
    opacity: 0.4;
    font-size: 14px;
}

nav ul a:hover {
    opacity: 0.7;
    transition: 0.3s;
} 

nav .nav-wrapper {
    padding: 0 9vw;
}

nav .logo {
    height: 64px;
    opacity: 0.9;
}

nav .nav-logo {
    padding-right: 1.5vw;
}