<link rel="stylesheet" href="../stylesheets/navbar.css"/>
<ul class="nav navbar-nav navbar-left">
    <li><a href="#" id = "logo" class="navbar-brand"><img src="/images/Logotype_Black.png" height="15%" width="15%"></a></li>
    <li><a <%if(active=="Home"){%>class="active"<%}%> href="/Index">Home</a></li>
    <li><a <%if(active=="About"){%>class="active"<%}%> href="/About">About</a></li>
    <li><a <%if(active=="Work"){%>class="active"<%}%> href="/Work">Work</a></li>
</ul>`