
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="nav-logo"><img class="logo" src="../images/Logotype_Black.png"></li>
          <li class="nav-button"><a href="">Home</a></li>
          <li class="nav-button"><a href="">Flock</a></li>
          <li class="nav-button"><a href="">Team</a></li>
          <li class="nav-button"><a href="">Media</a></li>
          <li class="nav-button"><a href="">Sponsors</a></li>
          <li class="nav-button"><a href="">Downloads</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="nav-button"><a href="">Shop</a></li>
          <li class="nav-button"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>