<!DOCTYPE html>
<html>
  <head>
    <%- include('includes'); %>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <%- include('header', {active: "Home"}); %>

    <div id="landing" class="container-fluid center">
        <div id="intro">
            <h1>The all-Canadian Hyperloop
                <br> student design team
            </h1>
            <p>
                Having withstood the test of time, team Waterloop is back with
                <br> a whole new roster, preparing to take on the SpaceX
                <br> Hyperloop challenge in Summer 2018.
            </p>
        </div>

        <div id="newsletter">
            <h4> Sign up for our montly newsletter </h4>
            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input placeholder="Your Email" id="email" type="email" class="validate">
                </div>
                <div class="col s3"></div>
            </div>
        </div>
    </div>
    <div id = "threejs"><br><br><br><br><br></div>
    <div id = "deconst-pod"><br><br><br><br><br></div>
    <div id = "sponsors" class="container-fluid center">
        <h2>Our Sponsors</h2>
        <p>Since the first competition we have relied on our sponsors <br>to support us through our journey to first place.
        </p>
        <div id="gallery" class="carousel">
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/banner.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight01.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight02.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight03.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/banner.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight01.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight02.jpg"></a>
            <a class="carousel-item" href="#!"><img src="../images/spotlight03.jpg"></a>
        </div>
    </div>

    <%- include('footer'); %>

  </body>
</html>
