<div style="color:#3a434b;">
  <div class="row" style="margin-bottom:0; margin-top:5%;">
    <div class="col s12 m12 l2"></div>
    <div class="col s12 m12 l4 center-align">
      <h1 style="font-weight: thin;">Oh no!</h1>
      <p style="font-weight: thin; font-size:2rem; margin:0;">You missed the Hyperl<span>o</span><span style="margin-left:-1.1%;">o</span>p</p>
      <div class="center-align"><p style="font-weight: bold; margin-left:25%; width:50%; margin-bottom:0;">But that's okay,<br>our next departure is in:</p></div>
      <div class="center-align"><h2 style="margin:0;"><span style="font-weight: thin;">00:0</span>4:04<span style="font-size:1rem;">  minutes</span></h2></div>
    </div>
    <div id="i404" class="col s12 m12 l4 center-align">
      <h3>Meanwhile</h3>
      <p style="width:80%; margin-left:10%;"> make sure to look at our custom posters, and follow us on social media for more updates!</p>
      <div class="row" style="margin-bottom:0;">
        <div class="col s6 m6 l6 offset-s3 offset-m3 offset-l3" style="filter:brightness(0.5);">
          <a href="https://www.facebook.com/teamwaterloop" target="_blank"><img style="width:25%; padding:4%; min-height:30px; min-width:30px;" src="/images/logos/facebook-new.svg" alt="team waterloop facebook"></a>
          <a href="https://twitter.com/team_waterloop" target="_blank"><img style="width:25%; padding:4%; min-height:30px; min-width:30px;" src="/images/logos/twitter-new.svg" alt="team waterloop twitter"></a>
          <a href="https://www.instagram.com/team_waterloop" target="_blank"><img style="width:25%; padding:4%; min-height:30px; min-width:30px;" src="/images/logos/instagram-new.svg" alt="team waterloop insta"></a>
        </div>
        <div class="col s6 m6 l6 offset-s3 offset-m3 offset-l3" style="color:'grey';">
          <a href="/" style="color:grey;"><p><u>Return Home</u></p></a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l2"></div>
  </div>
</div>
