
        <div class="row">
            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/thumbs/Go_Tbnl.jpg">
                  <span class="card-title">Go For It</span>
                </div>
                <div class="card-action">
                  <a href="images/wallpapers/Go_for_it/goforit_phone_white.png" download>Mobile</a>
                  <a href="images/wallpapers/Go_for_it/goforit_1080_white.png" download>Desktop</a>
                </div>
              </div>
            </div>

            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/thumbs/Hype_Tbnl.jpg">
                  <span class="card-title">Hype</span>
                </div>
                <div class="card-action">
                  <a href="images/wallpapers/Hype/hype_phone_white.png" download>Mobile</a>
                  <a href="images/wallpapers/Hype/hype_1080_white.png" download>Desktop</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/thumbs/Loopy_Tbnl.jpg">
                  <span class="card-title">Loopy</span>
                </div>
                <div class="card-action">
                  <a href="images/wallpapers/Loopy/loopy_phone_white.png" download>Mobile</a>
                  <a href="images/wallpapers/Loopy/loopy_1080_white.png" download>Desktop</a>
                </div>
              </div>
            </div>

            <div class="col m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/thumbs/North_Tbnl.jpg">
                  <span class="card-title">North</span>
                </div>
                <div class="card-action">
                  <a href="images/wallpapers/North/north_phone_white.png" download>Mobile</a>
                  <a href="images/wallpapers/North/north_1080_white.png" download>Desktop</a>
                </div>
              </div>
            </div>
        </div>
