<style>
body {
  background: linear-gradient(0deg,rgba(255,255,255,1),rgba(255,255,255,0.5)),url('/images/front-page/ray-hennessy-233426.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*padding: 5%;*/
}

#flock {
  padding: 5%;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Image hover effects: https://codepen.io/nxworld/pen/ZYNOBZ */
.card-image {
  overflow: hidden;
}

.zoomblur:hover {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
</style>


<div id="flock" class="container container-fluid center">
  <div class="row">
    <h1>The Flock</h1>
  </div>

  <div class="row">
    <% for(var i = 0; i < flock.length; i++) { %>
      <a href="/flock/<%= flock[i].url %>">
        <div class="col s12 m4">
          <div class="card grey darken-4 z-depth-3">
            <div class="card-image">
              <img class="zoomblur noseldrag img-responsive" src="<%= flock[i].thumbnail %>">
            </div>
            <div class="card-content center">
              <span class="card-title"><%= flock[i].name %></span>
            </div>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</div>
