<!DOCTYPE html>
<html>
<head>
    <%- include('includes'); %>
    <title><%= title %></title>
</head>
<body>
<%- include('header', {active: "Flock"}); %>

<div id="landing" class="container-fluid center">
    <div id="intro">
        <h1>
            FLOCK
        </h1>
    </div>
</div>
<div id="threejs"><br><br><br><br><br></div>
<div id="deconst-pod"><br><br><br><br><br></div>
<div id="sponsors" class="container-fluid center">
    <h2 class="subtitle">Our Sponsors</h2>
    <p class="text">Since the first competition we have relied on our sponsors <br>to support us through our journey to first place.
    </p>
    <div id="gallery" class="carousel">
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/sponsors/university2.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/banner.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight01.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight02.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight03.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/banner.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight01.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight02.jpg"></a>
        <a class="carousel-item" href="#!"><img src="../images/spotlight03.jpg"></a>
    </div>
</div>
<div id="lineChart"></div>
<div id="blog">
    <div class="row blog-row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="../images/front-page/gary-bendig-192233.jpg" height="400px" width="400px">
                    <span class="card-title">Mr. Goose blog</span>
                </div>
                <div class="card-content">
                    <p>All hail Mr. Goose the proud recipient of an honorary degree in Software Engineering for having completing the task of shitting on every frosh.</p>
                </div>
                <div class="card-action">
                    <a href="#">Check out some more action</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="../images/front-page/gary-bendig-192233.jpg" height="400px" width="400px">
                    <span class="card-title">Mr. Goose blog</span>
                </div>
                <div class="card-content">
                    <p>All hail Mr. Goose the proud recipient of an honorary degree in Software Engineering for having completing the task of shitting on every frosh.</p>
                </div>
                <div class="card-action">
                    <a href="#">Check out some more action</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="../images/front-page/gary-bendig-192233.jpg" height="400px" width="400px">
                    <span class="card-title">Mr. Goose blog</span>
                </div>
                <div class="card-content">
                    <p>All hail Mr. Goose the proud recipient of an honorary degree in Software Engineering for having completing the task of shitting on every frosh.</p>
                </div>
                <div class="card-action">
                    <a href="#">Check out some more action</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); %>

</body>
</html>
