    <footer class="page-footer grey lighten-5">
      <div class="ruler-container">
        <div class="horizontal-ruler center-align"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col l6 offset-l1 s12">
            <img class="logo noseldrag" src="/images/Icon_Yellow.png">
          </div>
          <div class="col l2 offset-l1 s6">
            <ul>
              <li class="footer-link"><a href="team">Our Team</a></li>
              <li class="footer-link"><a href="https://wloop.ca/apply">Join Us</a></li>
              <li class="footer-link"><a href="/hyperloop">Hyperloop</a></li>
              <li class="footer-link"><a href="/faq">FAQs</a></li>
              <li class="footer-link"><a href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
          <div class="col l2 s6">
            <ul>
              <li class="footer-link"><a href="mailto:hello@teamwaterloop.ca">Email</a></li>
              <li class="footer-link"><a href="https://twitter.com/team_waterloop" target="_blank">Twitter</a></li>
              <li class="footer-link"><a href="https://www.facebook.com/teamwaterloop" target="_blank">Facebook</a></li>
              <li class="footer-link"><a href="https://www.instagram.com/team_waterloop" target="_blank">Instagram</a></li>
              <li class="footer-link"><a href="https://medium.com/waterloop" target="_blank">Medium</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
