    <footer class="page-footer grey lighten-5">
      <div class="ruler-container">
        <div class="horizontal-ruler center-align"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col l6 offset-l1 s12">
            <img class="logo" src="../images/Icon_Yellow.png">
          </div>
          <div class="col l2 offset-l1 s6">
            <ul>
              <li class="footer-link"><a href="#!">Our Team</a></li>
              <li class="footer-link"><a href="#!">Terms & Conditions</a></li>
              <li class="footer-link"><a href="#!">Privacy Policy</a></li>
              <li class="footer-link"><a href="#!">Project Protection</a></li>
              <li class="footer-link"><a href="#!">FAQs</a></li>
            </ul>
          </div>
          <div class="col l2 s6">
            <ul>
              <li class="footer-link"><a href="#!">Email</a></li>
              <li class="footer-link"><a href="#!">Twitter</a></li>
              <li class="footer-link"><a href="#!">Facebook</a></li>
              <li class="footer-link"><a href="#!">Instagram</a></li>
              <li class="footer-link"><a href="#!">Medium</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>