<div class="container container-fluid">
   <h1><%= goose.name %></h1>
    <div class="row">
      <% for(var i in goose.sections) { %>
        <h2><%= goose.sections[i].title %></h2>
        <% for(var j in goose.sections[i].content) { %>
          <p><%= goose.sections[i].content[j] %><p>
        <% } %>
        <img class="responsive-img" src="<%= goose.sections[i].img %>" />
      <% } %>
    </div>
</div>
