<div class="navbar-fixed hide-on-med-and-down">
<nav>
  <div class="nav-wrapper grey lighten-5">
    <ul id="nav-mobile" class="left">
      <li class="nav-logo"><a href="/" class="logo noseldrag"><img class="logo noseldrag" src="/images/Logotype_Black.png"></a></li>
      <li <%if(active=="home"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/">Home</a></li>
      <li <%if(active=="flock" || active=="goose"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/flock">Flock</a></li>
      <li <%if(active=="team"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/team">Team</a></li>
      <li <%if(active=="media"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/media">Media</a></li>
      <li <%if(active=="sponsors"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/sponsors">Sponsors</a></li>
      <li <%if(active=="downloads"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/downloads">Downloads</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li <%if(active=="shop"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a target="_blank" href="merch.teamwaterloop.ca">Shop</a></li>
      <li <%if(active=="contact"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
</div>

<div class="show-on-medium-and-down">
<ul id="slide-out" class="side-nav">
    <li><div class="user-view" style="min-height:80px;">
      <div class="background" style="min-height:80px;">
        <img src="images/Logotype_Black.png" style="width:auto;height:100%;">
      </div>
    </div></li>
    <li <%if(active=="home"){%>class="active"<%}%>><a  class="waves-effect" href="/">Home</a></li>
    <li <%if(active=="flock" || active=="goose"){%>class="active"<%}%>><a class="waves-effect" href="/flock">Flock</a></li>
    <li <%if(active=="team"){%>class="active"<%}%>><a  class="waves-effect" href="/team">Team</a></li>
    <li <%if(active=="media"){%>class="active"<%}%>><a  class="waves-effect" href="/media">Media</a></li>
    <li <%if(active=="sponsors"){%>class="active"<%}%>><a  class="waves-effect" href="/sponsors">Sponsors</a></li>
    <li <%if(active=="downloads"){%>class="active"<%}%>><a  class="waves-effect" href="/downloads">Downloads</a></li>
    <li><div class="divider"></div></li>
    <li <%if(active=="shop"){%>class="active"<%}%>><a  class="waves-effect" target="_blank" href="merch.teamwaterloop.ca">Shop</a></li>
    <li <%if(active=="contact"){%>class="active"<%}%>><a  class="waves-effect" href="/contact">Contact</a></li>
  </ul>
</div>

<div class="hide-on-large-only">
  <nav>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="color:#fed138;">menu</i></a>
  </nav>
</div>
