<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper grey lighten-5">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li class="nav-logo"><img class="logo noseldrag" src="/images/Logotype_Black.png"></li>
      <li <%if(active=="home"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/">Home</a></li>
      <li <%if(active=="flock" || active=="goose"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/flock">Flock</a></li>
      <li <%if(active=="team"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/team">Team</a></li>
      <li <%if(active=="media"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/media">Media</a></li>
      <li <%if(active=="sponsors"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/sponsors">Sponsors</a></li>
      <li <%if(active=="downloads"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/downloads">Downloads</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li <%if(active=="shop"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/shop">Shop</a></li>
      <li <%if(active=="contact"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
</div>
