<nav>
  <div class="nav-wrapper grey lighten-5">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li class="nav-logo"><img class="logo" src="../images/Logotype_Black.png"></li>
      <li <%if(active=="Home"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/">Home</a></li>
      <li <%if(active=="Flock"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/flock">Flock</a></li>
      <li <%if(active=="Team"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/team">Team</a></li>
      <li <%if(active=="Media"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/media">Media</a></li>
      <li <%if(active=="Sponsors"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/sponsors">Sponsors</a></li>
      <li <%if(active=="Downloads"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/downloads">Downloads</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li <%if(active=="Shop"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/shop">Shop</a></li>
      <li <%if(active=="Contact"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
