<div class="dn show-on-medium-and-up">
<nav>
  <div class="nav-wrapper grey lighten-5">
    <ul class="left">
      <li class="nav-logo"><a href="/" class="logo noseldrag"><img class="logo noseldrag" src="/images/Logotype_Black.svg"></a></li>
      <li <%if(active=="home"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/">Home</a></li>
      <li <%if(active=="flock" || active=="goose"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/flock">Flock</a></li>
      <li <%if(active=="team"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/team">Team</a></li>
      <li <%if(active=="media"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/media">Media</a></li>
      <li <%if(active=="sponsors"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/sponsors">Sponsors</a></li>
      <li <%if(active=="downloads"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/downloads">Downloads</a></li>
    </ul>
    <ul class="right">
      <li <%if(active=="shop"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a target="_blank" href="https://merch.teamwaterloop.ca">Shop</a></li>
      <li <%if(active=="contact"){%>class="active nav-button"<%} else{%>class="nav-button"<%}%>><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
</div>

<div class="hide-on-med-and-up">
<ul id="slide-out" class="side-nav" style="font-family:'Proxima Nova', sans-serif;">
    <li><div class="user-view" style="min-height:80px;">
      <div class="background" style="min-height:80px;">
        <img style="width:auto; height:100%;" src="images/Logotype_Black.svg">
      </div>
    </div></li>
    <li <%if(active=="home"){%>class="active"<%}%>><a class="waves-effect" href="/"><span>Home</span></a></li>
    <li <%if(active=="flock" || active=="goose"){%>class="active"<%}%>><a class="waves-effect" href="/flock"><span>Flock</span></a></li>
    <li <%if(active=="team"){%>class="active"<%}%>><a class="waves-effect" href="/team"><span>Team</span></a></li>
    <li <%if(active=="media"){%>class="active"<%}%>><a class="waves-effect" href="/media"><span>Media</span></a></li>
    <li <%if(active=="sponsors"){%>class="active"<%}%>><a class="waves-effect" href="/sponsors"><span>Sponsors</span></a></li>
    <li <%if(active=="downloads"){%>class="active"<%}%>><a class="waves-effect" href="/downloads"><span>Downloads</span></a></li>
    <li><div class="divider"></div></li>
    <li <%if(active=="shop"){%>class="active"<%}%>><a class="waves-effect" target="_blank" href="https://merch.teamwaterloop.ca"><span>Shop</span></a></li>
    <li <%if(active=="contact"){%>class="active"<%}%>><a class="waves-effect" href="/contact"><span>Contact</span></a></li>
  </ul>
</div>

<div class="hide-on-med-and-up">
  <nav>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="color:#fed138;">menu</i></a>
  </nav>
</div>
