<div class="section white">
    <div class="container row">
      <h5>What is Hyperloop?</h5>
      <p style="font-size:1.3vmax;color:#808080;">The Hyperloop is a proposed supersonic train line stretching across the country in underground airless tubes. We believe that it's the future of transportation, and an example of how sound engineering can overcome any problem.
      </p>
      <h5>What is Waterloop?</h5>
      <p style="font-size:1.3vmax;color:#808080;">We represent Canada in the SpaceX Hyperloop Competition, a university competition to build the fastest and safest half-scale Hyperloop prototype. In the future, we hope to build one of the first full-scale passenger Hyperloops in the world, right here in Canada.
      </p>
    </div>
</div>

<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
</div>
