<div class="parallax-container full-height" style="padding: 70px 0;">
    <div class="parallax"><img class="responsive-img" src="images/hyperloop.jpg"></div>
    <div class="container center landing">
      <div class="title-box">
          <h1 class="subtitle" style="font-family:'proxima_nova_ltthin';color:#fff;margin-top:100px;">Hyperl<span>o</span><span style="margin-left:-1.1%;">o</span>p</h1>
      </div>
    </div>
</div>
<div class="section white">
    <div class="container row">
      <h2 class="subtitle" style="font-size: 7vmin;">What is Hyperloop?</h2>
      <p class="subtitle-text" style="color:#808080;">The Hyperloop is a proposed supersonic train line stretching across the country in underground airless tubes. We believe that it's the future of transportation, and an example of how sound engineering can overcome any problem.
      </p>
      <h2 class="subtitle" style="font-size: 7vmin;">SpaceX Hyperloop Competition</h2>
      <p class="subtitle-text" style="color:#808080;">In order to accelerate the development of functional prototypes and encourage student innovation, SpaceX announced the Hyperloop Pod Competition in 2015, which challenges university teams to design and build the best transport Pod. The first two competitions were held in January and August 2017 and were the first of their kind anywhere in the world.
      </p>
      <p class="subtitle-text" style="color:#808080;">Based on these successes, SpaceX has moved forward with the third installment: 2018 Hyperloop Pod Competition. The competition will focus on a single criterion--maximum speed. Additionally, all Pods must be self-propelled.
      </p>
    </div>
    <a target="_blank" href="http://www.spacex.com/hyperloopalpha"><p class="center subtitle-text">More information about the hyperloop can be found here</p></a>
</div>

<script>
$(function(){
  $('.parallax').parallax();
});
</script>
