<div class="row">
    <div class="row">
        <div class="col offset-s2 sponsor-structure-heading">
                <%= name %>
        </div>
    </div>
    <div class="row center-align">
            <% for(var i=0; i<members.length; i++) {%>
                <img class="sponsor-logo" src=<%= members[i] %> />
            <% } %>
    </div>
</div>