<div class="row">
    <div class="row">
        <div class="center-align sponsor-structure-heading">
                <%= name %>
        </div>
    </div>

    <div class="row center-align">
    <% for(var i=0; i<members.length%itemsNum; i++) {%>
        <img class="sponsor-logo1" src=<%= members[i] %> />
    <% } %>
    </div>

    <% for(var i=members.length%itemsNum; i<members.length; i=itemsNum+i) {%>
        <div class="row center-align">
            <% for(var j=0; j<itemsNum; j++) {%>
                <img class="sponsor-logo1" src=<%= members[i+j] %> />
            <% } %>
        </div>
    <% } %>

</div>
