<style>
.sponsors-header {
    color: white;
    font-size: 70px;
    padding: 15vh 0 7vh 0;
    font-weight: 600;
}

.sponsor-button {
    font-size: 20px;
    border-radius: 50px;
    text-transform: none;
    height: 45px;
    line-height: 45px;
}

.sponsor-container{
    padding: 7vh 0;
}

.sponsor-landing-heading {
    padding: 1vh 0;
    font-weight: 600;
}

.sponsor-landing-content {
    opacity: 0.7;
}

.sponsor-structure {
    padding: 0vh 2vw 0 2vw;
}

.sponsor-structure-heading {
    font-size: 25px;
    font-weight: 600;
}

.sponsor-logo {
    height: 120px;
    margin: 2vh 1vw;
    opacity: 0.6;
    transition: 0.2s;
}

.sponsor-logo:hover {
    opacity: 1;
    transition: 0.2s;
}
</style>

<div class="parallax-container" style="height: 50vh;">
  <div class="parallax"><img class="responsive-img" src="images/front-page/ray-hennessy-233426.jpg"></div>
  <div class="center">
      <div class="sponsors-header"> We love our sponsors! </div>
      <a href="/contact" class="waves-effect waves-light btn sponsor-button amber accent-2">Become a sponsor</a>
  </div>
</div>


<div class="section white">
  <div class="row container">
    <div class="col s6 offset-s3" style="margin-top: -10vh;">
      <div class="card">
        <div class="card-content">
          <div class="sponsor-landing-heading">Waterloop Sponsorship</div>
          <p class="sponsor-landing-content">Lorem ipsum dolor sit amet, animal timeam mel te, in nulla noster dicunt pri, novum dolorem te eum. Simul dicam et eam. Ne nominavi probatus cotidieque has, ei tritani contentiones usu. Latine scribentur ei nec, veri debet nonumy cu eam.</p>
          <p class="sponsor-landing-content"><p class="sponsor-landing-content">Lorem ipsum dolor sit amet, animal timeam mel te, in nulla noster dicunt pri, novum dolorem te eum. Simul dicam et eam. Ne nominavi probatus cotidieque has, ei tritani contentiones usu. Latine scribentur ei nec, veri debet nonumy cu eam.</p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container sponsor-structure">
    <% for(var i=0; i<sponsors.length; i++) {%>
        <%- include( 'sponsorStructure' , {
            "members": sponsors[i].members,
            "name": sponsors[i].name
        } ); %>
    <% } %>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
