<style>
  .sponsors-header {
    color: white;
    font-size: 70px;
    padding: 15vh 0 7vh 0;
    font-weight: 600;
  }

  .sponsor-button {
    font-size: 20px;
    border-radius: 50px;
    text-transform: none;
    height: 45px;
    line-height: 45px;
    bottom: 3vh;
  }

  .sponsor-container {
    padding: 7vh 0;
  }

  .sponsor-landing-heading {
    padding: 1vh 0;
    font-weight: 600;
  }

  .sponsor-landing-content {
    opacity: 0.7;
    text-align: left;
  }

  .sponsor-structure {
    padding: 0 2vw 0 2vw;
  }

  .sponsor-structure-heading {
    font-family: 'proxima_nova_scosfthin', sans-serif;
    font-size: 10vmin;
    font-weight: 600;
    color: #000;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .sponsor-logo1 {
    margin: 2vh 1vw;
    opacity: 0.9;
  }

  .sponsor-logo1:hover {
    opacity: 1;
    transition: 0.2s;
  }

  .Hypersonic img {
    height: 120px;
  }

  .Supersonic img {
    height: 80px;
  }

  .Transonic img {
    height: 70px;
  }

  .Sonic img {
    height: 60px;
  }

  .flex-align {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 921px) {
    .sponsor-logo1 {
      max-width: 95%;
      height: auto;
    }

    .sponsors-header {
      font-size: 57px;
    }

    .Hypersonic,
    .Supersonic,
    .Transonic,
    .Sonic {
      height: unset;
    }

    .flex-align {
      flex-direction: column;
    }
  }

  .fancy {
    text-align: center;
    border-bottom: 2px solid #ffd550;
  }

  .fancy span {
    display: inline-block;
    position: relative;
  }

  .fancy span::before,
  .fancy span::after {
    content: "";
    position: absolute;
    height: 3vmin;
    top: 1vmin;
    width: 30%;
  }

  .top-100-padding {
    padding-top: 100px;
  }

  .fancy span::before {
    right: 100%;
    margin-right: 15px;
  }

  .fancy span::after {
    left: 100%;
    margin-left: 15px;
  }
</style>

<div class="parallax-container" style="height: 50vh;">
  <div class="parallax"><img class="responsive-img" src="images/back.jpg"></div>
  <div class="center">
    <div class="sponsors-header"> We love our sponsors! </div>
  </div>
</div>


<div class="section white">
  <div class="row container center-align ">
  <div class="col l8 s10 offset-l2 offset-s1" style="margin-top: -10vh;">
    <a href="/Waterloop_information_package.pdf" class="waves-effect waves-light btn sponsor-button amber" style="font-weight:1000; font-family:'proxima_nova_altbold', sans-serif;" target="_blank">Information Package</a>
    <div class="card">
    <div class="card-content">
      <div class="sponsor-landing-heading">Our mission:</div>
        <p class="sponsor-landing-content">
● To strongly represent Waterloo as a hub for Canadian innovation through the
SpaceX Hyperloop Competition<br>
● To teach technical skills, strong engineering practices, and teamwork<br>
● To reach out to inspire and cultivate young innovators from all backgrounds
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="row container sponsor-structure1">
  <% for(var i=0; i<sponsors.length; i++) {%>
    <%- include( 'sponsorStructure' , {
      "members": sponsors[i].members,
      "name": sponsors[i].name,
      "itemsNum": sponsors[i].itemsNum
    } ); %>
  <% } %>
  </div>
</div>


<script>
$(function(){
  $('.parallax').parallax();
});
</script>
