html{font-family:'proxima_nova_ltthin', 'Montserrat', Helvetica;height:100%;}
p{font-family:'Proxima Nova';}
body{font-size:115%;}
form-text{font-size:10px;}
input[type=email]:not(.browser-default){margin:0;}
#social img{width:10%;margin:0 5%;min-height:30px;min-width:30px;opacity:0.6;}
#neg-margin{margin-top:10px !important;}
#threejs{width:100%;display:block;height:30vh;background-image:url("../images/front-page/spotlight01.jpg");background-attachment:fixed;background-color:#555555;}
#deconst-pod{width:100%;display:block;height:30vh;background-image:url("../images/front-page/spotlight03.jpg");background-attachment:fixed;background-color:#555555;}
#gallery{width:100%;}
.carousel .carousel-item>img{width:200%;margin-left:-50%;}
#lineChart{padding:0;margin:0;width:100%;height:100%;min-height:400px;position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);display:block;}
nav ul a{color:#111111;font-weight:600;opacity:0.4;font-size:14px;}
nav ul a:hover{opacity:0.7;transition:0.3s;}
nav .nav-wrapper{padding:0 9vw;}
nav .logo{height:64px;opacity:0.9;}
nav .nav-logo{padding-right:1.5vw;}
footer .ruler-container{padding:4vh 27vw;}
footer .horizontal-ruler{width:100%;height:2px;background:#111111;border-radius:50px;opacity:0.1;}
footer .footer-link a{color:#111111;font-weight:600;opacity:0.4;}
footer .footer-link a:hover{opacity:0.7;transition:0.3s;}
footer .logo{height:120px;opacity:0.9;}
*::selection{background-color:rgba(0,0,0,0.7);color:#FFF;}
*::-moz-selection{background-color:rgba(0,0,0,0.7);color:#FFF;}
.team-container{padding:10vh 2vw 0 2vw;}
.team-tree{padding:0 0 0 10px;}
.team-name{padding:1vh 1vw;font-weight:600;display:inline-block;}
.team-card{padding:2vh 0;}
.team-number{float:right;display:inline-block;padding:1vh 1vw;font-weight:500;}
.lead-text{font-weight:600;}
.team-header-text{font-size:30px;opacity:0.8;padding:0 4vw;font-weight:600;}
.team-header{font-weight:600;}
.team-landing{padding:5vh;}
.team-faculty{padding:10vh 0;font-size:24px;}
.team-advisor{font-weight:600;}
.team-picture{padding:2vh 0;width:100%;}
.btn{background-color:#fed138;}
.btn:hover, .btn-large:hover{background-color:#fee098;}
.noseldrag{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;user-drag:none;}
.media-landing{margin:none;height:50vh;}
.media-header{color:white;font-size:70px;padding:9vh 0 10vh 0;font-weight:600;}
.media-icon{color:white;display:inline-block;padding:0 1vw 0 1vw;}
.main-tweet{padding:1vh 5vw;margin:0;}
.tweet-design{border-radius:25px;padding:1vh 2vw;background-color:white;}
.twitter-row{margin:5%;}
.tweet-container{overflow:hidden;}
.tweet-text{color:#111111;font-size:18px;padding:4vh 2vw;}
#insta{margin-top:-200px;}
.insta-image{height:100%;width:auto}
.insta-caption{line-height:1em;max-height:3em;overflow:hidden;}
.insta-video{width:100%;}
.insta-shadow{top:1em;width:100%;height:2em;background:-webkit-linear-gradient(transparent, white);background:-o-linear-gradient(transparent, white);background:-moz-linear-gradient(transparent, white);background:linear-gradient(transparent, white);}
@media only screen and (min-width:993px){#i404{margin-top:7rem;}}
.responsive-img{object-fit:cover;min-width:100%;min-height:100%;}
