html{font-family:'proxima_nova_ltthin', 'Montserrat', Helvetica;height:100%;}
p{font-family:'Proxima Nova';}
body{font-size:115%;scroll-behavior: smooth;}
form-text{font-size:10px;}
#social img{width:10%;margin:0 5%;min-height:30px;min-width:30px;opacity:0.6;}
#email-submit{margin-top:10px !important;background-color:transparent;color:#fed138;border:none;transition:padding-left 0.5s;}
#email-submit:hover{padding-left:1em;}
#threejs{width:100%;display:block;height:30vh;background-image:url("../images/front-page/spotlight01.jpg");background-attachment:fixed;background-color:#555555;}
#deconst-pod{width:100%;display:block;height:30vh;background-image:url("../images/front-page/spotlight03.jpg");background-attachment:fixed;background-color:#555555;}
#lineChart{width:100%;height:100%;position:relative}
nav ul a{color:#111111;font-weight:600;opacity:0.4;font-size:14px;}
nav ul a:hover{opacity:0.7;transition:0.3s;}
nav .nav-wrapper{padding:0 9vw;}
nav .logo{height:64px;opacity:0.9;}
nav .nav-logo{padding-right:1.5vw;}
footer .ruler-container{padding:4vh 27vw;}
footer .horizontal-ruler{width:100%;height:2px;background:#111111;border-radius:50px;opacity:0.1;}
footer .footer-link a{color:#111111;font-weight:600;opacity:0.4;}
footer .footer-link a:hover{opacity:0.7;transition:0.3s;}
footer .logo{width:120px;opacity:0.9;}
*::selection{background-color:rgba(0,0,0,0.7);color:#FFF;}
*::-moz-selection{background-color:rgba(0,0,0,0.7);color:#FFF;}
.team-container{padding:60px 5px 0 5px;}
.team-tree{padding:0 0 0 10px;}
.team-name{padding:5px 5px; font-weight:600; display:inline-block;}
.team-card{padding:2vh 0;}
.team-number{float:right;padding:5px 5px;font-weight:500;}
.lead-text{font-weight:600;}
.team-header-text{font-size:170%;opacity:1;padding:0 5px;font-weight:600;}
.team-header{font-weight:600;}
.team-landing{padding: 10px;}
.team-faculty{font-size:24px;}
.team-advisor{font-weight:600;}
.team-picture{padding:2vh 0;width:100%;}
.btn-round,.btn{background-color:#fed138;}
.fg-yellow {
  color: #fed138;
}
.btn-round {
  border-radius: 20px;
  padding: 5px 20px;
  font-family: 'Proxima Nova', 'Montserrat', Helvetica;
  font-size: 1.5rem;
  text-transform: none;
}
.btn:hover, .btn-large:hover{background-color:#fee098;}
.noseldrag, .noseldrag *{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;user-drag:none;}
.media-landing{margin:none;height:50vh;}
.media-header{color:white;font-size:70px;padding:9vh 0 10vh 0;font-weight:600;}
.media-icon{color:white;display:inline-block;padding:0 1vw 0 1vw;}
.main-tweet{padding:1vh 5vw;margin:0;}
.tweet-design{border-radius:25px;padding:1vh 2vw;background-color:white;}
.twitter-row{margin:5%;}
.tweet-container{overflow:hidden;}
.tweet-text{color:#111111;font-size:18px;padding:4vh 2vw;}
#insta{margin-top:-200px;}
.insta-image{height:100%;width:auto}
.insta-caption{line-height:1em;max-height:3em;overflow:hidden;}
.insta-video{width:100%;}
.insta-shadow{top:1em;width:100%;height:2em;background:-webkit-linear-gradient(transparent, white);background:-o-linear-gradient(transparent, white);background:-moz-linear-gradient(transparent, white);background:linear-gradient(transparent, white);}
@media only screen and (min-width:993px){#i404{margin-top:7rem;}}
.responsive-img{object-fit:cover;min-width:100%;min-height:100%;}
.card-title{text-shadow:0 0 8px black}
.dn{display:none}
.h100{height:100%}
.w100{width:100%}
.h90{height:90%}
.flex-column{display:flex;flex-direction:column}
.flex-auto{flex:1 1 auto}
.flex-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-transform-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.t0 {
  top: 0;
}
.b0 {
  bottom: 0;
}
.z1 {
  z-index: 1;
}
.pt1 {
  padding-top: 1rem;
}
.f2 {
  font-family:'Proxima Nova';
  font-size: 2rem;
}
.f3 {
  font-family:'Proxima Nova';
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .only-first-on-small > *:not(:first-child) {
    display: none;
  }
}
.pn {
  pointer-events: none;
}
.img-3x2 {
  padding-top: 66.6666666666%;
  background-size: cover;
}
.m0 {
  margin: 0;
}