html {
    font-family: 'Proxima Nova', 'Montserrat', Helvetica;
}

form-text {
    font-size: 10px;
}

.blog-row {
    width: 100%;
    margin-left:0;
}

#landing {
    position: relative;
    height: auto;
    min-height: 100% !important;
    background-image: url("../images/front-page/1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  #555555;
    padding:5%;
}

input[type=email]:not(.browser-default){
    margin: 0;
}

#threejs{
    width:100%;
    display:block;
    height:30vh;
    background-image: url("../images/front-page/spotlight01.jpg");
    background-attachment: fixed;
    background-color:  #555555;
}

#deconst-pod{
    width:100%;
    display:block;
    height:30vh;
    background-image: url("../images/front-page/spotlight03.jpg");
    background-attachment: fixed;
    background-color:  #555555;
}

#gallery{
    width:100%;
}

.carousel .carousel-item>img {
    width: 200%;
    margin-left: -50%;
}

#lineChart {
  width: 98vw;
  height: 60%;
  min-height: 400px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display:block;
  background-image: url("../images/front-page/teamaback.jpg");
  background-color:  #555555;
  /*background-size: cover;*/
  background-position: center;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;

}

/* Navbar Styles */
nav ul a {
    color: #111111;
    font-weight: 600;
    opacity: 0.4;
    font-size: 14px;
}

nav ul a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

nav .nav-wrapper {
    padding: 0 9vw;
}

nav .logo {
    height: 64px;
    opacity: 0.9;
}

nav .nav-logo {
    padding-right: 1.5vw;
}

/* Footer Styles */
footer .ruler-container {
    padding: 4vh 27vw;
}

footer .horizontal-ruler {
    width: 100%;
    height: 2px;
    background: #111111;
    border-radius: 50px;
    opacity: 0.1;
}

footer .footer-link a{
    color: #111111;
    font-weight: 600;
    opacity: 0.4;
}

footer .footer-link a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

footer .logo {
    height: 120px;
    opacity: 0.9;
}

/* hightlighting colour */
*::selection {
  background-color: #fee098;
}

/* firefox highlighting colour */
*::-moz-selection {
  background-color: #fee098; /* hightlighting colour */
}

.team-container {
    padding: 10vh 2vw 0 2vw;
}

.team-tree {
    padding: 0 0 0 10px;
}

.team-name {
    padding: 1vh 1vw;
    font-weight: 600;
    display: inline-block;
}

.team-card {
    padding: 2vh 0;
}

.team-number {
    float: right;
    display: inline-block;
    padding: 1vh 1vw;
    font-weight: 500;
}

.lead-text {
    font-weight: 600;
}

.team-header-text {
    font-size: 30px;
    opacity: 0.6; 
    padding: 0 4vw;  
}

.team-header {
    font-weight: 600;
}

.team-landing {
    padding: 5vh;
}

.team-faculty {
    padding: 10vh 0;
    font-size: 24px;
}

.team-advisor {
    font-weight: 600;
}

.sponsor-landing {
    background-image: url('../images/front-page/ray-hennessy-233426.jpg');
    margin: none;
    height: 50vh;
}

.sponsors-header {
    color: white;
    font-size: 70px;
    padding: 15vh 0 7vh 0;
    font-weight: 600;
}

.sponsor-button {
    font-size: 20px;
    border-radius: 50px;
    text-transform: none;
    height: 45px;
    line-height: 45px;    
}

.sponsor-container{
    padding: 7vh 0;
}

.sponsor-landing-heading {
    padding: 1vh 0;
    font-weight: 600;
}


.sponsor-landing-content {
    opacity: 0.7;
}

.sponsor-structure {
    padding: 25vh 2vw 0 2vw;
}

.sponsor-structure-heading {
    font-size: 25px;
    font-weight: 600;
}

.sponsor-logo {
    height: 120px;
    margin: 2vh 1vw;
    opacity: 0.6;
    transition: 0.2s;
}

.sponsor-logo:hover {
    opacity: 1;
    transition: 0.2s;    
}
