  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}

    <footer class="page-footer grey lighten-5">
      <div class="container">
        <div class="row">
          <div class="col l6 offset-l1 s12">
            <img class="logo" src="/golang/public/public/img/Icon_Yellow.png">
          </div>
          <div class="col l2 offset-l1 s6">
            <ul>
              <li class="footer-link"><a href="#!">Our Team</a></li>
              <li class="footer-link"><a href="#!">Terms & Conditions</a></li>
              <li class="footer-link"><a href="#!">Privacy Policy</a></li>
              <li class="footer-link"><a href="#!">Project Protection</a></li>
              <li class="footer-link"><a href="#!">FAQs</a></li>
            </ul>
          </div>
          <div class="col l2 s6">
            <ul>
              <li class="footer-link"><a href="#!">Email</a></li>
              <li class="footer-link"><a href="#!">Twitter</a></li>
              <li class="footer-link"><a href="#!">Facebook</a></li>
              <li class="footer-link"><a href="#!">Instagram</a></li>
              <li class="footer-link"><a href="#!">Medium</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  <script src="/golang/public/js/jquery.min.js"></script>
  <script src="/golang/public/js/jquery.scrollex.min.js"></script>
  <script src="/golang/public/js/jquery.scrolly.min.js"></script>
  <script src="/golang/public/js/skel.min.js"></script>
  <script src="/golang/public/js/util.js"></script>
  <script src="/golang/public/js/main.js"></script>
  </body>
</html>
