body {
    font-family: 'Lato', sans-serif;
} 


/* Navbar Styles */
nav ul a {
    color: #111111;
    font-weight: 600;
    opacity: 0.4;
    font-size: 14px;
}

nav ul a:hover {
    opacity: 0.7;
    transition: 0.3s;
} 

nav .nav-wrapper {
    padding: 0 9vw;
}

nav .logo {
    height: 64px;
    opacity: 0.9;
}

nav .nav-logo {
    padding-right: 1.5vw;
}

/* Footer Styles */
footer .ruler-container {
    padding: 4vh 27vw;
}

footer .horizontal-ruler {
    width: 100%;
    height: 2px;
    background: #111111;
    border-radius: 50px;
    opacity: 0.1;
}
footer .footer-link a{
    color: #111111;
    font-weight: 600;
    opacity: 0.4;
}

footer .footer-link a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

footer .logo {
    height: 120px;
    opacity: 0.9;
}