<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/react-website/public/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/react-website/public/css/style.css">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <script src="/public/js/three.js"></script>
    <script src="/public/js/materialize.min.js"></script>
    <script src="/public/js/objloader.js"></script>

  </head>
  <body>

    <nav>
      <div class="nav-wrapper grey lighten-5">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="nav-logo"><img class="logo" src="/public/img/Logotype_Black.png"></li>
          <li class="nav-button"><a href="">Home</a></li>
          <li class="nav-button"><a href="">Flock</a></li>
          <li class="nav-button"><a href="">Team</a></li>
          <li class="nav-button"><a href="">Media</a></li>
          <li class="nav-button"><a href="">Sponsors</a></li>
          <li class="nav-button"><a href="">Downloads</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="nav-button"><a href="">Shop</a></li>
          <li class="nav-button"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>